<div class="input-wrapper slider-wrapper">
      <div
        rzslider
        rz-slider-model="model"
        rz-slider-options="{
          floor: 0,
          ceil: ceiling,
          translate: translateFn,
          disabled: disable
        }"
        ng-class="className"></div>
    </div>
    <div class="step-indicator-container">
        <span class="step perc-0" ng-bind="sliderLowLabel"></span>
        <span ng-if="sliderMiddleLabel" class="step perc-50" ng-bind="sliderMiddleLabel"></span>
        <span class="step perc-100" ng-bind="sliderHighLabel"></span>
    </div>
</div>
