<div class="duration-select-wrapper">
    <table>
        <tbody>
            <tr>
                <td>
                    <select
                        class="select"
                        ng-model="hours"
                        ng-disabled="disable"
                        ng-options="hour as hour for hour in hourChoices">
                    </select>
                </td>
                <td >
                    <select
                        class="select"
                        ng-model="minutes"
                        ng-disabled="disable"
                        ng-options="minute as minute for minute in minuteChoices">
                    </select>
                </td>
            </tr>
        </tbody>
    </table>
</div>

